<ng-container>
  <div class="container">
    <div class="my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <a routerLink="/admin"><i class="bi bi-arrow-left"></i> Voltar</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row">
        <div class="border-bottom pb-2 mb-0 d-flex justify-content-between">
          <h1>Relatórios de contatos</h1>
          <div>
            <i (click)="print()" class="bi bi-printer export"></i>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
            <h6>Período</h6>
            <input
              type="text"
              placeholder="Selecione a data"
              class="form-control"
              bsDaterangepicker
              [bsValue]="bsInlineRangeValue"
              [bsConfig]="{ isAnimated: true, adaptivePosition: true, showWeekNumbers: false, containerClass: 'theme-blue' }">
              <button (click)="buscar()" class="btn btn-primary ml-2 btn-buscar">Buscar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-2 mb-5">
            <div>
              <h6>Total de contatos por dia</h6>
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="col-md-6 mt-2 mb-5">
            <div class="text-center">
              <h6>Total de contatos por sexo do animal</h6>
              <canvas baseChart
                [data]="chartSexoData"
                [labels]="chartSexoLabel"
                [chartType]="pieChartType"
                [colors]="chartColors"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
          <div class="col-md-6 mt-2 mb-5">
            <div class="text-center">
              <h6>Total de contatos por espécie do animal</h6>
              <canvas baseChart
                [data]="chartEspecieData"
                [labels]="chartEspecieLabel"
                [chartType]="pieChartType"
                [colors]="chartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
          <div class="col-md-6 mt-2 mb-5">
            <div class="text-center">
              <h6>Total de contatos por porte do animal</h6>
              <canvas baseChart
                [data]="chartPorteData"
                [labels]="chartPorteLabel"
                [chartType]="pieChartType"
                [colors]="chartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
          <div class="col-md-6 mt-2 mb-5">
            <div class="text-center">
              <h6>Total de contatos por animal</h6>
              <canvas baseChart
                [data]="chartAnimalData"
                [labels]="chartAnimalLabel"
                [chartType]="pieChartType"
                [colors]="chartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

