<ng-container>
  <div class="container">
    <div class="my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <a routerLink="/admin"><i class="bi bi-arrow-left"></i> Voltar</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row">
        <div class="col-12 mb-3">
          <h1 class="border-bottom pb-2 mb-0">Relatórios</h1>
        </div>
        <div class="text-muted pt-3">
          <div #sexo class="relatorio"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

