.relatorio {
  display: block;
  width: 1000px;
}

a {
  color: #49acc4;
  text-decoration: none;
  font-weight: 700;
}

.export {
  font-size: 24px;
  cursor: pointer;
}

::ng-deep {
  .theme-blue .bs-datepicker-head {
    background: #49acc4;
  }

  .form-control {
    display: inline-block;
  }
}

.btn-buscar {
  position: absolute;
  margin-left: 10px;
}

@media (max-width: 768px)
{
  .btn-buscar {
    position: relative;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media print {
  i, button, .print-none, nav, footer {
    display: none;
  }

  ::ng-deep app-header-admin {
    display: none;
  }

  .col-md-6 {
    width: 50%;
  }
}
