<div class="container">
  <div class="my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a routerLink="/adotar"><i class="bi bi-arrow-left"></i> Voltar</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h1 class="border-bottom pb-2 mb-0">Alterar senha</h1>
    <div class="text-muted pt-3">
      <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <div class="row">
          <div class="col-md-6 mt-2">
            <label for="senhaAtual" class="form-label">Senha atual *</label>
            <input type="password" class="form-control" id="senhaAtual" formControlName="senhaAtual" maxlength="15">
            <p class="text-danger" *ngIf="verficaErro('senhaAtual') === 'required'">* Por favor, informe a senha atual</p>
          </div>
          <div class="col-md-6 mt-2"></div>
          <div class="col-md-6 mt-2">
            <label for="senha" class="form-label">Nova senha *</label>
            <input type="password" class="form-control" id="senha" maxlength="15" formControlName="senha">
            <p class="text-danger" *ngIf="verficaErro('senha') === 'required'">* Por favor, informe a nova senha</p>
          </div>
          <div class="col-md-6 mt-2">
            <label for="confirmaSenha" class="form-label">Confirme a nova senha *</label>
            <input type="password" class="form-control" id="confirmaSenha" maxlength="15" formControlName="confirmaSenha">
            <p class="text-danger" *ngIf="verficaErro('confirmaSenha') === 'required'">* Por favor, confirme a senha</p>
            <p class="text-danger" *ngIf="verficaErro('confirmaSenha') === 'senha'">* As senhas não combinam</p>
          </div>
          <div class="col-12 mt-3 pb-3">
            <button class="btn btn-primary">
              <span *ngIf="!send">Salvar</span>
              <span *ngIf="send" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

