.card {
  cursor: pointer;
  height: 335px;
  .card-title {
    margin-bottom: .1rem;
  }
  img {
    height: 210px;
  }
  .card-text {
    span {
      border: solid 1px #d5dcde;
      padding: 1px 8px 3px;
      margin-right: 5px;
      border-radius: 4px;

      &.active {
        background-color: #49acc4;
        border: solid 1px #49acc4;
        color: #fff;
      }
    }

    .genero-macho {
      font-size: 20px;
      color: #4bb4de;
      font-weight: 700;
    }
    .genero-femea {
      font-size: 20px;
      color: #d1499b;
    }
  }
}

.banner-home {
  width: 100%;
  z-index: 1;
}

.container-busca {
  margin-top: -50px;
  color: #fff;
  z-index: 2;
  position: relative;
  padding: 20px;

  h1 {
    text-align: center;
  }

  .form-check-input {
    border: solid 1px #fff;
  }

  .btn-link {
    color: #fff;
    text-decoration: none;

  }
}
