<img src="https://adoteja.s3.sa-east-1.amazonaws.com/imagens/banner.jpg" class="banner-home">
<div class="bg-primary container container-busca">
  <h1>Encontre um novo amigo</h1>
  <form [formGroup]="formulario">
    <div class="row">
      <div class="col-md-6 mt-2">
        <label for="especie" class="form-label">Espécie</label>
        <select class="form-select" formControlName="especie">
          <option selected disabled></option>
          <ng-container *ngIf="especies$ | async as especies">
            <option *ngFor="let especie of especies" [value]="especie._id">{{ especie.nome }}</option>
          </ng-container>
        </select>
      </div>
      <div class="col-md-6 mt-2">
        <label for="sexo" class="form-label">Sexo</label>
        <select class="form-select" formControlName="sexo">
          <option selected disabled></option>
          <option value="Macho">Macho</option>
          <option value="Fêmea">Fêmea</option>
        </select>
      </div>
      <div class="col-md-6 mt-2">
        <label for="porte" class="form-label">Porte</label>
        <select class="form-select" formControlName="porte">
          <option selected disabled></option>
          <option value="60e8cbc2c71494fd715ba5ed">Pequeno</option>
          <option value="60e8cbc9c71494fd715ba5ef">Médio</option>
          <option value="60e8cbd0c71494fd715ba5f1">Grande</option>
        </select>
      </div>
      <div class="col-md-6 mt-5">
        <div class="row">
          <div class="col-md-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="castrado" formControlName="castrado">
              <label class="form-check-label" for="castrado">Castrado</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="vacinado" formControlName="vacinado">
              <label class="form-check-label" for="vacinado">Vacinado</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="vermifugado" formControlName="vermifugado">
              <label class="form-check-label" for="vermifugado">Vermifugado</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <label>Estado</label>
          <ng-select
            [items]="estados"
            bindLabel="sigla"
            bindValue="sigla"
            [clearable]="false"
            [multiple]="false"
            (change)="selectEstado()"
            formControlName="estado"
          >
          </ng-select>
      </div>
      <div class="col-md-6 mt-2">
        <label>Cidade</label>
          <ng-select
            [items]="cidades"
            bindLabel="nome"
            bindValue="nome"
            [clearable]="false"
            [multiple]="false"
            formControlName="cidade"
          >
          </ng-select>
      </div>
      <div class="col-12 mt-2">
        <button class="btn btn-warning" (click)="filtrar()">
          Buscar
        </button>
      </div>
    </div>
  </form>
</div>
<ng-container *ngIf="animais$ | async as animais">
  <div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="text-muted pt-3">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-3" *ngFor="let animal of animais">
            <div class="card" (click)="detalhes(animal._id)">
              <img src="https://adoteja.s3.sa-east-1.amazonaws.com/imagens/{{ animal.imagem }}" class="card-img-top" [alt]="animal.nome">
              <div class="card-body">
                <h5 class="card-title ">{{ animal.nome }}</h5>
                <span>{{ animal.ong.cidade }} - {{ animal.ong.estado }}</span>
                <div class="card-text d-flex justify-content-between mt-3">
                  <div>
                    <span [ngClass]="{'active': animal.porte.nome === 'Pequeno'}">P</span>
                    <span [ngClass]="{'active': animal.porte.nome === 'Médio'}">M</span>
                    <span [ngClass]="{'active': animal.porte.nome === 'Grande'}">G</span>
                  </div>
                  <div>
                    <i *ngIf="animal.sexo === 'Macho'" class="bi bi-gender-male genero-macho"></i>
                    <i *ngIf="animal.sexo === 'Fêmea'" class="bi bi-gender-female genero-femea"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

