<div class="container">
  <div class="my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a routerLink="/admin"><i class="bi bi-arrow-left"></i> Voltar</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h1 class="border-bottom pb-2 mb-0">Minha Ong</h1>
    <div class="text-muted pt-3">
      <form [formGroup]="formulario" (ngSubmit)="salvar()">
        <div class="row">
          <div class="col-md-6 mt-2">
            <label for="cnpj" class="form-label">CNPJ *</label>
            <input type="text" class="form-control" disabled="true" mask="00.000.000/0000-00" id="cnpj" formControlName="cnpj" maxlength="20">
          </div>
          <div class="col-md-6 mt-2">
            <label for="nome" class="form-label">Nome *</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" maxlength="50">
            <p class="text-light" *ngIf="verficaErro('nome') === 'required'">* Por favor, informe o nome</p>
            <p class="text-light" *ngIf="verficaErro('nome') === 'min'">* O nome deve ter pelo menos três caracteres</p>
          </div>
          <div class="col-md-6 mt-2">
            <label for="telefone" class="form-label">Telefone *</label>
            <input type="text" class="form-control" id="telefone" mask="(00) 00000-0009" formControlName="telefone" maxlength="20">
            <p class="text-light" *ngIf="verficaErro('telefone') === 'required'">* Por favor, informe o telefone</p>
            <p class="text-light" *ngIf="verficaErro('telefone') === 'regex'">* Por favor, informe um telefone válido</p>
          </div>
          <div class="col-md-6 mt-2">
            <label for="email" class="form-label">E-mail *</label>
            <input type="text" class="form-control" id="email" formControlName="email" maxlength="50">
            <p class="text-light" *ngIf="verficaErro('email') === 'required'">* Por favor, informe o e-mail</p>
            <p class="text-light" *ngIf="verficaErro('email') === 'email'">* Por favor, informe um e-mail válido</p>
          </div>
          <div class="col-md-6 mt-2">
            <label for="facebook" class="form-label">Facebook</label>
            <input type="text" class="form-control" id="facebook" formControlName="facebook" maxlength="50">
          </div>
          <div class="col-md-6 mt-2">
            <label for="instagram" class="form-label">Instagram</label>
            <input type="text" class="form-control" id="instagram" formControlName="instagram" maxlength="50">
          </div>
          <div class="col-md-6 mt-2">
            <label>Estado *</label>
            <ng-select
              [items]="estados"
              bindLabel="sigla"
              bindValue="sigla"
              [clearable]="false"
              [multiple]="false"
              placeholder="SP"
              formControlName="estado"
              (change)="selectEstado()"
            >
            </ng-select>
            <p class="text-light" *ngIf="verficaErro('estado') === 'required'">* Por favor, selecione o estado</p>
          </div>
          <div class="col-md-6 mt-2">
            <label>Cidade *</label>
            <ng-select
              [items]="cidades"
              bindLabel="nome"
              bindValue="nome"
              [clearable]="false"
              [multiple]="false"
              placeholder="São Paulo"
              formControlName="cidade"
              (change)="selectEstado()"
            >
            </ng-select>
            <p class="text-light" *ngIf="verficaErro('cidade') === 'required'">* Por favor, selecione a cidade</p>
          </div>
          <div class="col-12 mt-3 pb-3">
            <button class="btn btn-primary">
              <span *ngIf="!send">Salvar</span>
              <span *ngIf="send" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

