.jambotron {
  background: #d5dcde;
  padding: 20px 30px;
  min-height: 300px;
}

a {
  color: #49acc4;
  text-decoration: none;
  font-weight: 700;
}

h1 {
  small {
    color: #949494
  }
}

.container-mensagem {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 10px;

  .info-mensagem {
    color: #bfbfbf;
    text-align: right;
    font-size: 12px;
    display: block;
  }

  .gerenciamento {
    text-align: right;
    display: none;
    margin-top: -20px;
  }

  &:hover {
    .gerenciamento {
      display: block;
      position: absolute;
    }
  }
}
