<div class="container-imagem">
</div>
<div class="container-formulario">
  <div class="text-center">
    <img src="assets/images/logo.png" class="logo">
  </div>
  <div class="container-login">
    <h4 class="mb-3">Recuperar senha</h4>
    <form [formGroup]="form" (ngSubmit)="alterarSenha()">
      <div class="mb-3">
        <label>Senha *</label>
        <input type="password" class="form-control" id="senha" placeholder="Senha" maxlength="15" formControlName="senha">
        <p class="text-light" *ngIf="verficaErro('senha') === 'required'">* Por favor, informe a senha</p>
      </div>
      <div class="mb-3">
        <label>Confirme a senha *</label>
        <input type="password" class="form-control" id="confirmaSenha" placeholder="Confirme a senha" maxlength="15" formControlName="confirmaSenha">
        <p class="text-light" *ngIf="verficaErro('confirmaSenha') === 'required'">* Por favor, confirme a senha</p>
        <p class="text-light" *ngIf="verficaErro('confirmaSenha') === 'senha'">* As senhas não combinam</p>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" [disabled]="send" class="btn btn-warning">
          <span *ngIf="!send">Alterar Senha</span>
          <span *ngIf="send" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
      <div>
        <div class="text-center mt-2">
          <a routerLink="">Login</a>
        </div>
      </div>
    </form>
  </div>
</div>



<app-header-site></app-header-site>
<section>

</section>
<app-footer></app-footer>
