<app-header-site></app-header-site>
<section>
  <div class="container-login">
    <tabset [justified]="true">
      <tab heading="Quero adotar">
        <h4 class="mb-3">Login</h4>
        <button type="button" (click)="loginWithGoogle()" class="btn btn-light"><i class="bi bi-google"></i> Login com  Google</button>
        <form [formGroup]="form" (ngSubmit)="login('adotar')">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail" maxlength="50" formControlName="email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha" maxlength="15" formControlName="senha">
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-warning">Acessar</button>
            <a routerLink="novo-usuario">Cadastre-se</a>
          </div>
        </form>
      </tab>
      <tab heading="Represento uma ong">
        <h4 class="mb-3">Login</h4>
        <form [formGroup]="form" (ngSubmit)="login('admin')">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail" maxlength="50" formControlName="email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha" maxlength="15" formControlName="senha">
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-warning">Acessar</button>
            <a routerLink="nova-ong">Cadastre sua ong</a>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</section>

<app-footer></app-footer>
