<app-header-site></app-header-site>
<section>
  <div class="container-login">
    <tabset [justified]="true">
      <tab heading="Quero adotar">
        <h4 class="mb-3">Login</h4>
        <button type="button" (click)="loginWithGoogle()" class="btn btn-light"><i class="bi bi-google"></i> Login com  Google</button>
        <form [formGroup]="form" (ngSubmit)="login('adotar')">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail" maxlength="50" formControlName="email">
            <p class="text-light" *ngIf="verficaErro('email') === 'required'">* Por favor, informe o e-mail</p>
            <p class="text-light" *ngIf="verficaErro('email') === 'email'">* Por favor, informe um e-mail válido</p>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha" maxlength="15" formControlName="senha">
            <p class="text-light" *ngIf="verficaErro('senha') === 'required'">* Por favor, informe a senha</p>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" [disabled]="send" class="btn btn-warning">
              <span *ngIf="!send">Acessar</span>
              <span *ngIf="send" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <div>
              <a routerLink="sistema/recuperar-senha" class="me-4">Esqueci minha senha</a>
              <a routerLink="novo-usuario">Cadastre-se</a>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Represento uma ong">
        <h4 class="mb-3">Login</h4>
        <form [formGroup]="form" (ngSubmit)="login('admin')">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail" maxlength="50" formControlName="email">
            <p class="text-light" *ngIf="verficaErro('email') === 'required'">* Por favor, informe o e-mail</p>
            <p class="text-light" *ngIf="verficaErro('email') === 'email'">* Por favor, informe um e-mail válido</p>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha" maxlength="15" formControlName="senha">
            <p class="text-light" *ngIf="verficaErro('senha') === 'required'">* Por favor, informe a senha</p>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" [disabled]="send" class="btn btn-warning">
              <span *ngIf="!send">Acessar</span>
              <span *ngIf="send" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <div>
              <a routerLink="admin/recuperar-senha" class="me-4">Esqueci minha senha</a>
              <a routerLink="nova-ong">Cadastre sua ong</a>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</section>

<app-footer></app-footer>
