<app-header-site></app-header-site>
<section>
  <div class="container-login">
    <tabset [justified]="true">
      <tab heading="Quero adotar">
        <h4 class="mb-3">Login</h4>
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha">
          </div>
          <button type="submit" class="btn btn-warning">Acessar</button>
        </form>
      </tab>
      <tab heading="Represento uma ong">
        <h4 class="mb-3">Login</h4>
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="E-mail">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha">
          </div>
          <button type="submit" (click)="loginSistema()" class="btn btn-warning">Acessar</button>
        </form>
      </tab>
    </tabset>
  </div>
</section>

<app-footer></app-footer>
