<ng-container *ngIf="contatos$ | async as contatos">
  <ng-container *ngIf="animais$ | async as animais">
    <div class="container">
      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="border-bottom pb-2 mb-0 text-end">
          <h6>Bem vindo, {{ nomeUsuario }}</h6>
        </div>
        <div class="text-muted pt-3">
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="container-card bg-primary">
                <h5>Total de animais cadastrados</h5>
                <h2 class="item-total">
                  {{ animais.length }}
                </h2>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="container-card bg-danger">
                <h5>Total de contatos recebidos</h5>
                <h2 class="item-total">
                  {{ contatos.length }}
                </h2>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-3 mb-2">
              <div class="container-atalhos" routerLink="animais">
                <h5>Animais</h5>
                <img src="../../../../assets/images/paw.png">
              </div>
            </div>
            <div class="col-md-3 mb-2" *ngIf="isAdministrador">
              <div class="container-atalhos" routerLink="usuarios">
                <h5>Usuários</h5>
                <i class="bi bi-people-fill"></i>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="container-atalhos" routerLink="contatos">
                <h5>Contatos</h5>
                <i class="bi bi-chat-dots"></i>
              </div>
            </div>
            <div class="col-md-3 mb-2" *ngIf="isAdministrador">
              <div class="container-atalhos" routerLink="relatorios">
                <h5>Relatórios</h5>
                <i class="bi bi-graph-up"></i>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="container-atalhos" routerLink="campanhas">
                <h5>Campanhas</h5>
                <i class="bi bi-currency-dollar"></i>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="container-atalhos" routerLink="minha-ong">
                <h5>Minha ONG</h5>
                <i class="bi bi-shop-window"></i>
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <div class="container-atalhos" routerLink="perfil">
                <h5>Perfil</h5>
                <i class="bi bi-file-earmark-person"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

