.container-card {
  padding: 10px 20px;
  color: #fff;
  h2.item-total {
    margin: 0;
    font-size: 50px;
  }
}

.container-atalhos {
  border: 2px solid #49acc4;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  img {
    width: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  i{
    font-size: 120px;
  }
}

