<app-header-adotar></app-header-adotar>
<ng-container *ngIf="animal$ | async as animal">
  <div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="row">
        <div class="col-md-6">
          <img src="https://adoteja.s3.sa-east-1.amazonaws.com/imagens/{{ animal.imagem }}" class="card-img-top" [alt]="animal.nome">
        </div>
        <div class="col-md-6">
          <h5 class="card-title">{{ animal.nome }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Espécie:</strong> {{ animal.especie.nome }}
            </li>
            <li class="list-group-item">
              <strong>Porte:</strong> {{ animal.porte.nome }}
            </li>
            <li class="list-group-item">
              <strong>Pelagem:</strong> {{ animal.pelagem }}
            </li>
            <li class="list-group-item">
              <strong>Sexo:</strong> {{ animal.sexo }}
            </li>
            <li class="list-group-item">
              <strong>Raça:</strong> {{ animal.raca }}
            </li>
            <li class="list-group-item">
              <strong>Idade:</strong> {{ animal.idade }}
            </li>
            <li class="list-group-item">
              <strong>Condição:</strong>
              <span *ngIf="animal.vacinado" class="ms-1 badge bg-primary rounded-pill"> Vacinado </span>
              <span *ngIf="animal.vermifugado" class="ms-1 badge bg-primary rounded-pill"> Vermifugado </span>
              <span *ngIf="animal.castrado" class="ms-1 badge bg-primary rounded-pill"> Castrado </span>
            </li>
            <li class="list-group-item">
              <strong>História:</strong> {{ animal.historia }}
            </li>
          </ul>
        </div>
        <div class="col-12">

        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-footer class="mt-auto"></app-footer>
