/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
$color-primary: #49acc4;

.bg-primary {
  background: $color-primary !important;
}

.btn-primary {
  background: $color-primary !important;
  border-color: $color-primary !important;
}

.form-check-input:checked {
  background-color: $color-primary;
  border-color: $color-primary;
}

.text-primary {
  color: $color-primary;
}

h1 {
  font-size: 24px;
}
// #49acc4 principal
// #512E19 secudaria
