<ng-container *ngIf="campanhas$ | async as campanhas">
  <div class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <div class="border-bottom pb-2 mb-0 d-flex justify-content-between">
        <h1>Campanhas cadastradas</h1>
      </div>
      <div class="text-muted pt-3">
        <div class="text-end">
          <button class="btn btn-primary btn-sm" (click)="cadastrar()"><i class="bi bi-plus"></i> Nova</button>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Chave Pix</th>
                <th scope="col">Ativo</th>
                <th class="print-none" scope="col">Gerenciar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campanha of campanhas">
                <td>{{ campanha.nome }}</td>
                <td>{{ campanha.valor | currency:'BRL':true }}</td>
                <td>{{ campanha.chave_pix }}</td>
                <td>
                  <span *ngIf="campanha.ativo"><i class="bi bi-check-lg"></i></span>
                </td>
                <td class="print-none">
                  <button class="btn btn-warning btn-sm me-2" (click)="editar(campanha._id)"><i class="bi bi-pencil-square"></i></button>
                  <button class="btn btn-danger btn-sm" (click)="remover(campanha._id)"><i class="bi bi-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

